/*네비바 공통*/
.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.spacing {
    flex-grow: 1;
}

/*첫번째 네비바*/
.navbar:first-child {
    box-shadow: rgb(0 0 0 / 8%) 0 1px;
}

.navbar:first-child > *:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 18px;
    height: 80px;
}

.navbar:first-child > *:first-child *:first-child {
    font-size: 4rem;
}

.navbar:first-child > *:first-child h1 {
    font-size: 2.6rem;
    line-height: 0;
}

.navbar:first-child > *:first-child > * {
    display: inline-block;
    color: #35ade2;
}

.navbar:first-child > *:first-child > span:first-child {
    transform: rotate(90deg) translateX(-1px);
    font-weight: 700;
}

.navbar:first-child > *:first-child > *:last-child {
    padding-left: 4px;
}

.navbar:first-child > *:last-child {
    padding-right: 20px;
}

.navbar:first-child > *:last-child > * {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    padding: 0 8px;
    border: 1px solid black;
    border-radius: 10px;
}

.navbar:first-child > *:last-child > *:not(*:last-child) {
    margin-right: 16px;
}

/*두번째 네비바*/
.navbar:last-child {
    box-shadow: rgb(0 0 0 / 8%) 0 1px;
    margin-top: 1px;
    padding: 0 16px;
    height: 60px;
}

.navbar:last-child > *:first-child,
.navbar:last-child > *:last-child {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}